<p>This is your new custom <b><%= @basket.name.capitalize %></b> basket you have created</p>
<p>Your basket has the following:</br>
<div> 
<%= @basket.ingredients %></p>
</div>
<p>it has the following ID: <%= @basket.id %></p>

<a href="/show/customs">display baskets page</a>

<h2>Would you like to make a basket?</h2>
<h3>Click <a href="/basket/new">Here</a> to do so</h3>

<p><a href="/logout">Logout</a></p> | <a href="/profile/<%= current_user.id %>">Click here to go back to your profile</a>