<p>This is your new custom <b><%= @basket.name %></b> basket you have created</p>
<p>Your basket has the following:<br>
 <%= @basket.ingredient %>
</p>

<p>it has the following ID: <%= @basket.id %></p>

<a href="/show/baskets">display baskets page</a>
<hr>
<h3>Feeling Creative?</h3>
<h4>Click <a href="/basket/new">Here</a> to do so</h4>
<hr>
<br>
<h3>To make a change to your basket</h3>

<hr>
<br>
<h3>To view all baskets ever made</h3>
<h4>Click <a href="/baskets/index">Here</a></h4>
<hr>
<br>
<p><a href="/logout">Logout</a></p> | <a href="/user/<%= current_user.id %>">Click here to go back to your profile</a>