<h2>The <%= @basket.name%> Basket</h2>
This contains:
<h2><%= @basket.ingredients%></h2>

<h3>To see the baskets you have made</h3>

<h2>Click <a href="<%= "/users/#{current_user.id}/baskets" %>">Here</a></h2>


<h3>To make a change to your basket</h3>
<h4><a href="/baskets/:basket.user_id/edit">click here!</a></h4>
<br>