<h1>Welcome to Gracious Gourmet!<h1>
<h2>Your one stop shop for your last minute needs!</h2>



<h3>Please Login in below enter your exclusive profile!</h3>

<form action="/login" method="post">
<p><label for="user_name">User Name Is:</label>
<input type="text" id="user_name" name="user[user_name]" /></p>
<p><label for="password">Enter Password:</label>
  <input type="password" id="password" name="user[password]" /></p>

<input type='submit' value="Log In!">
</form>