

<div class="container">
<ul>
<% current_basket.each do |basket|%>

<li><a href="<%= "/baskets/#{basket.id}"%>" ><b>Name:<%= basket.name %></b></a> <b>This contains:</b> <%= basket.ingredients%></li>
<br>
<%end%>
</ul>
</div>
<h2> Total baskets made:</h2>
<p><%= current_basket.length%></p>



<h3>To see all baskets</h3>
<h2>Click <a href="/baskets">Here</a> to do so</h2>

