
<>
<p><%= current_basket%></p>
<p><%= find_baskets.name%></p>
<p><%= find_baskets.ingredients%></p>

<h3>To make a change to your basket</h3>
<h4><a href="/baskets/:basket.user_id/edit">click here!</a></h4>
