
<%binding.pry%>
<div class="container">
<ul>
<%current_basket.each do |basket|%>

<li><a href="<%= "/baskets/#{basket.id}"%>" ><b>Name:</b></a> <b>This contains:</b> <%= basket.ingredients%></li>
<br>
<%end%>
</ul>
</div>
<h2> Total baskets made:</h2>
<p><%= current_basket.length%></p>




<h3>To make a change to your basket</h3>
<h4><a href="/baskets/:basket.user_id/edit">click here!</a></h4>
