

<div class="container">
<ul>
<% current_user.baskets.each do |basket|%>

<li><b>Name: <a href="<%= "/baskets/#{basket.id}"%>" ></b><%= basket.name %></a> <b>This contains:</b> <%= basket.ingredients%></li>
<br>
<%end%>
</ul>
</div>
<h2> Total baskets made:</h2>
<p><%= current_user.baskets.length%></p>



<h3>To see all baskets</h3>
<h2>Click <a href="/baskets">Here</a> to do so</h2>

