<% if @user %>
<h1>Hello there <%= current_user.name %>!</h1>
<% if @user.id == session[:user_id] %>
<p>This is your profile page</p>
<% else %>

<p> Welcome to <%=@user.name%>'s profile </p>
<%end%>
<p>Baskets that you made <a href="<%= "/users/#{current_user.id}/baskets" %>"> click here</a></p>
<br>
<h3>To see all baskets</h3>
<h2>Click <a href="/baskets">Here</a> to do so</h2>
<h3>To see the baskets you have made</h3>
<h2>Click <a href="<%= "/users/#{current_user.id}/baskets" %>">Here</a></h2>
<br><br>
<a href="/logout">Logout</a> | <a href ="/baskets/new">Feeling creative</a>
<% else %>
<h3>Hey, you need to log in first</h3>
<a href="/signup">Sign Up</a> | <a href ="/login">Login</a>
<% end%>
