<h1>Create your custom gourmet basket</h1>

<form action ="/basket/create/:user_id" method = "post">
<label for="name">Basket Name:</label>
<input type="text" id="name" name="name" />
<label for="name">Basket Ingredients: </label>
<input type="text" id="ingredients" name="ingredients" />
<input type='submit' value="submit" />
</form>

