<p>This is your new custom <b><%= @basket.name.capitalize %></b> basket you have created</p>
<p>Your basket has the following:</br>
<div> 
<%= @basket.ingredients %></p>
</div>

<a href="/show/customs/:user_id">display baskets page</a>