<% binding.pry %>
<% if @user %>
<h1>Hello  <%= @user.name %> !</h1>
<h3>What would you like to order</h3>
 <% end %>
<p>Choose from one of the preset gourmet baskets or create your own custom one</p>


<p>Would you like to create your custom basket?</p>
<p><a href="/display/basket/:user_id">Click here!</a><p>