<h1>Hello</h1>
<p>You picked a <%= @pick_a_basket %> basket</p>
<p>This includes <%= @pick_an_ingredient %></p>

<p>Would you like to create your custom basket?</p>
<p><a href="/display/basket">Click here!</a><p>