<h1>Welcome to Gracious Gourmet!<h1>
<h2>Your one stop shop for your last minute Gourmet Basket needs</h2>
<h2><% if @error %></h2>
<%= @error %>
<% end %>
<h3><a href="/login">Click here to Login</a> to your Exclusive profile</h3>
<h3><a href="/signup">Click here to Sign Up</a> and receive your Exclusive profile</h3>
