<h1>Welcome to Gracious Gournmet!<h1>
<h2>Your one stop shop for your last minute needs at Quality Prices</h2>
<% if @error %>
<%= @error %>
<% end %>
<h3><a href="/login">Click here to Login</a> to your Exclusive profile</h3>
<h3><a href="/signup">Click here to Sign Up</a> and receive your Exclussive profile</h3>
