<h1 style=color:blue;>Welcome to Gracious Gourmet!<h1>
<h2>Your one stop shop for your last minute Gourmet Basket needs</h2>
<% if @error %>
<h2 style="color:red;"><%= @error %></h2>
<% end %>


<h3><a href="/login">Click here to Login</a> to your Exclusive profile</h3>
<br><br>
<h3><a href="/signup">Click here to Sign Up</a> and receive your Exclusive profile</h3>
